header {
  text-align: center;
  background-color:rgb(59, 112, 155);
  padding-bottom: 3rem;
}


main {
  background-color:rgb(90, 168, 232);
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}


.City {
  background-color: rgba(219, 0, 204, 0.208);
  border: 1px solid grey;
  width: 75%;
  height: auto;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
}

.City img {
  width: 100%;
  /* max-width: 100px; */
}

card-body {
  background-color: rgba(0, 219, 193, 0.208);
}


label {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

title {
  text-align: center;
}

.weatherDay {
  margin: 1rem;
  padding: 1rem;
}

.movieDay {
  margin: 1rem;
  padding: 1rem;
}
